In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [24]:
df_newyork_flights = pd.read_csv('/Users/rezanaiman/Desktop/Fall 2024/Stat captson/ICR project/final_merged_2024.csv')

/var/folders/wg/8_pdnpf51ys7nljv71s3c5jw0000gn/T/ipykernel_10992/2536031708.py:1: DtypeWarning: Columns (36,37,39,43) have mixed types. Specify dtype option on import or set low_memory=False.
  df_newyork_flights = pd.read_csv('/Users/rezanaiman/Desktop/Fall 2024/Stat captson/ICR project/final_merged_2024.csv')

In [25]:
df_newyork_flights.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,TAIL_NUM,OP_CARRIER_FL_NUM,...,skyl3,skyl4,wxcodes,peak_wind_gust,peak_wind_drct,peak_wind_time,feel,metar,snowdepth,rounded_valid
0,2024,1,1,1,1,1/1/2024 12:00:00 AM,9E,20363,N133EV,5284,...,13000.00,M,M,M,M,M,43.55,KLGA 011751Z 30003KT 10SM FEW030 BKN070 BKN130...,M,2024-01-01 18:00:00
1,2024,1,1,1,1,1/1/2024 12:00:00 AM,9E,20363,N133EV,5341,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024,1,1,1,1,1/1/2024 12:00:00 AM,9E,20363,N133EV,5390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024,1,1,1,1,1/1/2024 12:00:00 AM,9E,20363,N133EV,5390,...,M,M,M,M,M,M,36.97,KLGA 011051Z 29007KT 10SM BKN035 OVC060 06/M01...,M,2024-01-01 11:00:00
4,2024,1,1,1,1,1/1/2024 12:00:00 AM,9E,20363,N133EV,5390,...,M,M,-RA,M,M,M,38.27,KLGA 011113Z 29005KT 10SM -RA OVC029 06/M01 A3...,M,2024-01-01 11:00:00

In [26]:
df_newyork_flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63773 entries, 0 to 63772
Data columns (total 61 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   YEAR                   63773 non-null  int64
 1   QUARTER                63773 non-null  int64
 2   MONTH                  63773 non-null  int64
 3   DAY_OF_MONTH           63773 non-null  int64
 4   DAY_OF_WEEK            63773 non-null  int64
 5   FL_DATE                63773 non-null  object
 6   OP_UNIQUE_CARRIER      63773 non-null  object
 7   OP_CARRIER_AIRLINE_ID  63773 non-null  int64
 8   TAIL_NUM               63576 non-null  object
 9   OP_CARRIER_FL_NUM      63773 non-null  int64
 10  ORIGIN_AIRPORT_ID      63773 non-null  int64
 11  ORIGIN_CITY_MARKET_ID  63773 non-null  int64
 12  ORIGIN                 63773 non-null  object
 13  ORIGIN_STATE_ABR       63773 non-null  object
 14  DEST_AIRPORT_ID        63773 non-null  int64
 15  DEST_CITY_MARKET_ID    63773 non-null  int64
 16  DEST                   63773 non-null  object
 17  DEST_STATE_ABR         63773 non-null  object
 18  CRS_DEP_TIME           63773 non-null  int64
 19  DEP_TIME               60741 non-null  float64
 20  DEP_DELAY              60739 non-null  float64
 21  DEP_DELAY_NEW          60739 non-null  float64
 22  DEP_TIME_BLK           63773 non-null  object
 23  CRS_ARR_TIME           63773 non-null  int64
 24  ARR_DELAY              60463 non-null  float64
 25  ARR_DELAY_NEW          60463 non-null  float64
 26  ARR_TIME_BLK           63773 non-null  object
 27  CANCELLED              63773 non-null  float64
 28  CRS_ELAPSED_TIME       63773 non-null  float64
 29  DISTANCE               63773 non-null  float64
 30  WEATHER_DELAY          14914 non-null  float64
 31  departure_datetime     63773 non-null  object
 32  rounded_departure      63773 non-null  object
 33  station                36947 non-null  object
 34  valid                  36947 non-null  object
 35  tmpf                   36947 non-null  float64
 36  dwpf                   36947 non-null  object
 37  relh                   36947 non-null  object
 38  drct                   36947 non-null  object
 39  sknt                   36947 non-null  object
 40  p01i                   36947 non-null  object
 41  alti                   36947 non-null  float64
 42  mslp                   36947 non-null  object
 43  vsby                   36947 non-null  object
 44  gust                   36947 non-null  object
 45  skyc1                  36947 non-null  object
 46  skyc2                  36947 non-null  object
 47  skyc3                  36947 non-null  object
 48  skyc4                  36947 non-null  object
 49  skyl1                  36947 non-null  object
 50  skyl2                  36947 non-null  object
 51  skyl3                  36947 non-null  object
 52  skyl4                  36947 non-null  object
 53  wxcodes                36947 non-null  object
 54  peak_wind_gust         36947 non-null  object
 55  peak_wind_drct         36947 non-null  object
 56  peak_wind_time         36947 non-null  object
 57  feel                   36947 non-null  object
 58  metar                  36947 non-null  object
 59  snowdepth              36947 non-null  object
 60  rounded_valid          36947 non-null  object
dtypes: float64(11), int64(13), object(37)
memory usage: 29.7+ MB

In [27]:
df_newyork_flights.iloc[39648].info() #looking at the 39648 observation

<class 'pandas.core.series.Series'>
Index: 61 entries, YEAR to rounded_valid
Series name: 39648
Non-Null Count  Dtype
--------------  -----
33 non-null     object
dtypes: object(1)
memory usage: 3.0+ KB

In [28]:
df_newyork_flights.iloc[39647].info()#looking at the 39647 observation

<class 'pandas.core.series.Series'>
Index: 61 entries, YEAR to rounded_valid
Series name: 39647
Non-Null Count  Dtype
--------------  -----
33 non-null     object
dtypes: object(1)
memory usage: 3.0+ KB

In [29]:
df_newyork_flights.iloc[39645]#looking at the 39645 observation

YEAR              2024
QUARTER              1
MONTH                1
DAY_OF_MONTH        21
DAY_OF_WEEK          7
                  ...
peak_wind_time     NaN
feel               NaN
metar              NaN
snowdepth          NaN
rounded_valid      NaN
Name: 39645, Length: 61, dtype: object

There are a lot of missing or na values, so we will have to remove those observations that contains na or missing values.

In [30]:
df_newyork_flights = df_newyork_flights.dropna() #dropping na values

In [31]:
df_newyork_flights.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8862 entries, 90 to 63757
Data columns (total 61 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   YEAR                   8862 non-null   int64
 1   QUARTER                8862 non-null   int64
 2   MONTH                  8862 non-null   int64
 3   DAY_OF_MONTH           8862 non-null   int64
 4   DAY_OF_WEEK            8862 non-null   int64
 5   FL_DATE                8862 non-null   object
 6   OP_UNIQUE_CARRIER      8862 non-null   object
 7   OP_CARRIER_AIRLINE_ID  8862 non-null   int64
 8   TAIL_NUM               8862 non-null   object
 9   OP_CARRIER_FL_NUM      8862 non-null   int64
 10  ORIGIN_AIRPORT_ID      8862 non-null   int64
 11  ORIGIN_CITY_MARKET_ID  8862 non-null   int64
 12  ORIGIN                 8862 non-null   object
 13  ORIGIN_STATE_ABR       8862 non-null   object
 14  DEST_AIRPORT_ID        8862 non-null   int64
 15  DEST_CITY_MARKET_ID    8862 non-null   int64
 16  DEST                   8862 non-null   object
 17  DEST_STATE_ABR         8862 non-null   object
 18  CRS_DEP_TIME           8862 non-null   int64
 19  DEP_TIME               8862 non-null   float64
 20  DEP_DELAY              8862 non-null   float64
 21  DEP_DELAY_NEW          8862 non-null   float64
 22  DEP_TIME_BLK           8862 non-null   object
 23  CRS_ARR_TIME           8862 non-null   int64
 24  ARR_DELAY              8862 non-null   float64
 25  ARR_DELAY_NEW          8862 non-null   float64
 26  ARR_TIME_BLK           8862 non-null   object
 27  CANCELLED              8862 non-null   float64
 28  CRS_ELAPSED_TIME       8862 non-null   float64
 29  DISTANCE               8862 non-null   float64
 30  WEATHER_DELAY          8862 non-null   float64
 31  departure_datetime     8862 non-null   object
 32  rounded_departure      8862 non-null   object
 33  station                8862 non-null   object
 34  valid                  8862 non-null   object
 35  tmpf                   8862 non-null   float64
 36  dwpf                   8862 non-null   object
 37  relh                   8862 non-null   object
 38  drct                   8862 non-null   object
 39  sknt                   8862 non-null   object
 40  p01i                   8862 non-null   object
 41  alti                   8862 non-null   float64
 42  mslp                   8862 non-null   object
 43  vsby                   8862 non-null   object
 44  gust                   8862 non-null   object
 45  skyc1                  8862 non-null   object
 46  skyc2                  8862 non-null   object
 47  skyc3                  8862 non-null   object
 48  skyc4                  8862 non-null   object
 49  skyl1                  8862 non-null   object
 50  skyl2                  8862 non-null   object
 51  skyl3                  8862 non-null   object
 52  skyl4                  8862 non-null   object
 53  wxcodes                8862 non-null   object
 54  peak_wind_gust         8862 non-null   object
 55  peak_wind_drct         8862 non-null   object
 56  peak_wind_time         8862 non-null   object
 57  feel                   8862 non-null   object
 58  metar                  8862 non-null   object
 59  snowdepth              8862 non-null   object
 60  rounded_valid          8862 non-null   object
dtypes: float64(11), int64(13), object(37)
memory usage: 4.2+ MB

In [32]:
df_newyork_flights.shape

(8862, 61)

After dropping the na values, now we are left 8862 observations.